# Title

# Introduction

# Preliminary exploraty data analysis

In [1]:
### Loading Libraries into R
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)
source('tests.R')
source('cleanup.R')

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.0     ✔ rsample      1.0.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ infer        1.0.2     ✔ workflows    1.0.0
✔ modeldata    1.0.0     ✔ workflowsets 1.0.0
✔ parsnip      1.0.0     ✔ yardstick    1.0.0
✔ recipes      1.0.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Dig deeper into tidy modeling with R at https://www.tmwr.org

Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'tests.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [2]:
data <- read_csv("data/heart.csv")
data

Rows: 918 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (5): Sex, ChestPainType, RestingECG, ExerciseAngina, ST_Slope
dbl (7): Age, RestingBP, Cholesterol, FastingBS, MaxHR, Oldpeak, HeartDisease

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    Age Sex ChestPainType RestingBP Cholesterol FastingBS RestingECG MaxHR
1   40  M   ATA           140       289         0         Normal     172
2   49  F   NAP           160       180         0         Normal     156
3   37  M   ATA           130       283         0         ST          98
⋮   ⋮   ⋮   ⋮             ⋮         ⋮           ⋮         ⋮          ⋮
916 57  M   ASY           130       131         0         Normal     115
917 57  F   ATA           130       236         0         LVH        174
918 38  M   NAP           138       175         0         Normal     173
    ExerciseAngina Oldpeak ST_Slope HeartDisease
1   N              0       Up       0
2   N              1       Flat     1
3   N              0       Up       0
⋮   ⋮              ⋮       ⋮        ⋮
916 Y              1.2     Flat     1
917 N              0.0     Flat     1
918 N              0.0     Up       0

# Variable Explanation 

Age: age of the patient [years]

Sex: sex of the patient [M: Male, F: Female]

ChestPainType: chest pain type [TA: Typical Angina, ATA: Atypical Angina, NAP: Non-Anginal Pain, ASY: Asymptomatic]

RestingBP: resting blood pressure [mm Hg]
Cholesterol: serum cholesterol [mm/dl]

FastingBS: fasting blood sugar [1: if FastingBS > 120 mg/dl, 0: otherwise]

RestingECG: resting electrocardiogram results [Normal: Normal, ST: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV), LVH: showing probable or definite left ventricular hypertrophy by Estes' criteria]

MaxHR: maximum heart rate achieved [Numeric value between 60 and 202]
ExerciseAngina: exercise-induced angina [Y: Yes, N: No]

Oldpeak: oldpeak = ST [Numeric value measured in depression]

ST_Slope: the slope of the peak exercise ST segment [Up: upsloping, Flat: flat, Down: downsloping]

HeartDisease: output class [1: heart disease, 0: Normal]

# These variables were excluded 

sex since we are interested to predict this for anyone regardless their sex and since this data only includes 2 sexes
 
we are only using numerical data to predict the heart disease

In [4]:
# filter for ATA type since this one is concerning and needed to be predicted for patients with this typ of pain

In [6]:
data_cleaned <- data|>
    mutate(HeartDisease = as.factor(HeartDisease))|>
        filter(ChestPainType== "ATA")|>
        select(Age, RestingBP, Cholesterol, MaxHR, HeartDisease)
data_cleaned

    Age RestingBP Cholesterol MaxHR HeartDisease
1   40  140       289         172   0
2   37  130       283          98   0
3   45  130       237         170   0
⋮   ⋮   ⋮         ⋮           ⋮     ⋮
171 55  132       342         166   0
172 41  120       157         182   0
173 57  130       236         174   1

In [8]:
### spliting the data into training set and testing set, 75% of the data in the training set
data_split <- initial_split(data_cleaned, prop = 0.75, strata = HeartDisease) 
data_train <- training(data_split)   
data_test <- testing(data_split)
data_train
data_test

    Age RestingBP Cholesterol MaxHR HeartDisease
1   40  140       289         172   0
2   37  130       283          98   0
3   45  130       237         170   0
⋮   ⋮   ⋮         ⋮           ⋮     ⋮
127 48  110       229         168   1
128 57  154       232         164   1
129 57  130       236         174   1

   Age RestingBP Cholesterol MaxHR HeartDisease
1  48  120       284         120   0
2  58  136       164          99   1
3  39  120       204         145   0
⋮  ⋮   ⋮         ⋮           ⋮     ⋮
42 71  160       302         162   0
43 44  120       263         173   0
44 35  122       192         174   0